<!-- category bar -->
<div class="card-top container-fluid">
    <div class="container d-flex">
     <div class="item">
        <a (click)="filter('')">
            <img src="https://i.postimg.cc/0Qk1bv3M/ap.webp" alt="">
            <h6>All Products</h6>
        </a>
     </div>   

     <div class="item">
        <a (click)="filter('2')">
            <img src="https://i.postimg.cc/pX315v7G/fashion.webp" alt="">
            <h6>Fashion</h6>
        </a>
     </div>   

     <div class="item">
        <a (click)="filter('1')">
            <img src="https://i.postimg.cc/wMXctKsP/ele.webp" alt="">
            <h6>Electronics</h6>
        </a>
     </div>   




    </div>
</div>

<!-- Section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div  *ngFor="let products of filterCategory|filter:searchKey:'productName'  "  class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" style="height: 325px;" src="{{products.productimg}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{products.productName}}</h5>
                            <!-- Product price-->
                            {{products.price}}RS
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="products/view-product/{{products.id}}">View options</a></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
